

.form_profile{
    background-color: aliceblue;
    padding: 30px 0;
}
.form_profile h2{
    margin-bottom: 20px;
}

.form_profile input{
    width: 430px;
    height: 35px;
    padding: 0 10px;
    margin-left: 50px;
    
}
.form_profile table td{
    padding: 10px 0;
}
.form_profile .submit{
    background-color: #c74b50;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 30px;

    border-radius: 10px;
    border: none;
    color: white;

    font-size: 18px;
    border: none;
    cursor: pointer;
}




