body {
    background: url(../image/Default_background_for_book_shop_have_purple_dark_1.jpg);
}

.form {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    color: #d8d8d8;
}
.form .inner-left {
    width: 35%;
    height: auto;
    border: #887997 solid 1px;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
}
.form label {
    display: inline-block;
    margin-bottom: 10px;
    opacity: 0.7;
    font-weight: 700;
}
.form input {
    background-color: #d8d8d8;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}
.form button {
    background-color: #464660;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    border: none;
}
.form .inner-right {
    flex: 1;
    border: #887997 solid 1px;
    padding: 20px;
}
