/* the code for header */
.nav {
    background-color: #464660;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    
  }
  .nav .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav .inner-wrap img {
    width: 130px;
    height: 80px;
    object-fit: cover;
  }
  .nav .inner-search input {
    padding: 10px;
    border-radius: 10px;
  }
  .nav .inner-menu ul {
    display: flex;
  }
  .nav .inner-menu ul li {
    font-size: 17px;
    font-weight: 600;
  }
  .nav .inner-menu ul li a {
    padding: 33px 7px;
    transition: all 0.6s;
  }
  .nav .inner-menu ul li a:hover {
    background-color: #fcbd34;
    color: #000;
  }
  .nav .inner-icon ul {
    display: flex;
  }
  .nav .inner-icon ul li i {
    font-size: 25px;
    color: #fff;
  }
  .nav .inner-icon ul li:nth-child(2) {
    margin-left: 15px;
  }
  .sale {
    background-color: #fcbd34;
    padding: 20px 0;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
/* end header */
body{
    background-color: #F6F5F2;
    font-family: "roboto", sans-serif;
    margin: 0;
}
/* the style for inner left */
.container{
 display: flex;
 justify-content: space-between;
}
.container .inner-left{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    font-size: 20px;
    background-color:#F0EBE3;
    border-radius: 20px;
}
.nav-book {
    display: flex;
}
.nav-book li{
    display: flex;
    flex-direction: column;
   
}

.nav-book .sach-list .chude-list{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-book .sach-list .chude-list ul{
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 10px;

   
}
.nav-book .sach-list .chude-list ul li a{
    text-decoration: none   ;
    color: black;
    font-size: 20px;
}

.nav-book .sach-list .chude-list ul li a:active{
    color: fuchsia;
}
.nav-book .sach-list .chude-list ul li{
    padding-bottom: 0px;
}

/* the code for inner-mid */
.inner-mid{
position: relative;
margin: 0;
}
.inner-mid .image-product{
    border: 2px solid black;
    border-radius: 12px;
    width: 100%;
    height: 75%;
}
.inner-mid .image-next {
    text-align: center;
    padding-left: 70px;
}
.inner-mid .image-next img{
    margin: 0 15px;
    border-radius: 20px;
    opacity: 0.5;
}
.inner-mid .discount{
    position: absolute;
    top: -30px;
    left: 10px;
    padding: 30px 15px;
    background-color: red;
    color: white;
    font-size: 35px ;
    border-radius: 100%;
}
/* the code style for inner-right */
.inner-right{
    width: 30%;
}
.inner-right .turn-back-page a{
    text-decoration: none;
    color: #8B8E8F;
    font-weight: 700;
}
.inner-right .title-book{
    font-size: 28px;
}
.inner-right h3{
    font-size: 36px;
}

/* the code firts price final */
.inner-right .first-price{
    color: #929292;
    text-decoration: line-through;
    font-size: 20px;
}
.inner-right .final-price{
    color: red;
    margin-left: 20px;
    font-size: 40px;
}
.inner-right .promotion {
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 5px;
}
.inner-right .promotion-list{
   list-style: circle;
   font-size: 13px;
   margin: 10px 0px;
}
.inner-right .promotion-list li{
    padding: 4px 0;
 }
.inner-right .category-book{
    font-size: 18px;
    font-weight: 700;
}
.inner-right  select{
    font-size: 18px;
    border-radius: 5px;
    margin-left: 4px;
    font-family: "roboto" sans-serif;
    background-color:#FDE49E ;
    color: #DD761C;
    border: 2px solid white;
    
}
.inner-right  select option{
    background-color: #F6F5F2;
}
.inner-right .quantity{
    font-size: 18px;
    font-weight: 700;
}
.inner-right .quantity input{
    margin-left: 5px;
    border: 2px solid white;
    background-color:#FDE49E ;
    font-size: 18px;
    border-radius: 5px
}
.inner-right .quantity .add-cart{
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 4px 3px;
}
.inner-right .quantity .add-cart:active{
    background: blue;
}
/* code for icon  */
.inner-right .fa-brands{
  border: 2px solid white;
  padding: 20px;
  background-color: #FDE49E ;
  border-radius: 15px;
  transition:all 0.5s ease-in-out ;
}
.inner-right .fa-facebook:hover{
    background-color: white;
    color: #0866FF;
    border: 2px solid #B0EBB4;
}

.inner-right .fa-twitter:hover{
    background-color: white;
    color: #0866FF;
    border: 2px solid #B0EBB4;
}
.inner-right .fa-instagram:hover{
    background-color: white;
    color: #CC1259;
    border: 2px solid #B0EBB4;
}
.inner-right .fa-youtube:hover{
    background-color: white;
    color: #FF0202;
    border: 2px solid #B0EBB4;
}
.inner-right .fa-tiktok:hover{
    background-color: black;
    color: white;
    border: 2px solid #B0EBB4;
}
/* code comment book */
textarea{
    width: 300px;
    height: 200px;
}
/* footer */
.footter{
    background-color: #464660;
    color: white;
    padding: 30px 0;
  }
  
  .footter img{
    width: 130px;
    height: 80px;
    object-fit: cover
  }
  .footter .inner-wrap{
    display: flex;
    justify-content: space-around;
  }
  .footter .inner-content{
    width: 24%;
    padding: 0 10px;
  }
  .footter .content-first{
    width: 20%;
    padding: 0 10px;
    margin-top: -18px;
  }
  
  .footter .content-first p{
    margin-left: 25px;
  }
  
  .footter .inner-content h3{
    margin-bottom: 10px;
  }
  
  .footter .inner-content p{
    margin-bottom: 10px;
    
  }
  .footter .inner-content a{
    margin-bottom: 10px;
    display: block;
  }
  
  .footter .inner-icon{
    padding: 20px 0;
    text-align: center;
  }
  
  .footter .inner-icon a i{
    font-size: 25px;
    padding: 10px;
    margin-right: 10px;
    transition: all 0.7s;
    border: 1px solid #8e75b9;
    border-radius: 50%;
  }
  
  .footter .inner-icon i:hover {
    color: yellow;
  }
  
  .footter .end-footter  {
    
    border-top: 1px white solid;
    border-bottom: 1px white solid;
  }
  
  .footter .end-footter p {
    padding: 20px;
    font-weight: 700 ;
    margin-left: 22px;
  }
/* end footer */